@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');


::ng-deep html {
  background-color: white;
}

:host, a {
  cursor: initial;
}

:host {
  font-family: 'Roboto', sans-serif;
  display: block;

  --primary: #3466FF;
  --secondary: #EDEDF2;
  --secondary-background: #F8F8FB;
}

button {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-weight: 300;
  line-height: 32px;
}

iframe {
  width: 100vw;
  max-width: 560px;
  max-height: 315px;
  height: 56.25vw;
}

.hero {
  height: 100vh;
  background: url('/assets/angular-cdk-crash-course/hero.png');
  background-size: 100vw 100vh;
  flex-direction: column;

  .material {
    width: 179px;
    height: 195px;
  }

  p {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 76px;
    color: var(--primary);
    margin: 0 0 2rem;
    line-height: 1;
  }

  .hero-btns {
    display: flex;

    .learn-more-btn {
      background-color: var(--primary);
      color: white;
      padding: 1rem 2rem;
      border: none;
      border-radius: 50px;
      margin-right: 1rem;
    }

    .watch-video-btn {
      background-color: var(--secondary);
      color: black;
      padding: 1rem 2rem;
      border: none;
      border-radius: 50px;
    }
  }
}

.learn-more {
  background-color: var(--secondary-background);
  padding: 8rem;
  flex-direction: column;

  .row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  h2 {
    margin: 0;
  }

  p {
    font-size: 18px;
  }

  iframe {
    margin-left: 1.5rem;
  }

  .free-course {
    width: 100%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 10px 10px rgba(224, 224, 225, 0.203234);
    color: var(--primary);
    margin-top: 8rem;

    p {
      max-width: 50vw;
      text-align: center;
      margin: 1.75rem;
    }
  }
}

.agenda {
  background-color: white;
  padding: 8rem 8rem 12rem;

  p {
    font-size: 18px;
  }

  .content {
    margin-right: 1.5rem;
  }
}

.subscribe {

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    margin: -12rem auto -4rem;
    background: url('/assets/angular-cdk-crash-course/subscribe.svg');
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 1170px;
    height: 240px;
  }

  h2 {
    text-align: center;
  }

  a {
    color: #FB7902;
    background-color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 50px;
    margin-right: 1rem;
  }
}

.trainer {
  background: linear-gradient(180deg, #3466FF 0%, #0F45EC 100%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 8rem;
  padding-bottom: 4rem;

  h2 {
    text-align: center;
  }

  .contact-me {
    margin-top: 8rem;
  }

  img {
    border-radius: 500px;
  }

  p {
    font-size: 18px;
    max-width: 500px;
    text-align: center;
  }

  span {
    font-size: 15px;
  }

  a {
    background-color: white;
    color: var(--primary);
    padding: 1rem 2rem;
    border: none;
    border-radius: 50px;
    margin-right: 1rem;
  }
}

@media (max-width: 1280px) {

  .hero {
    p, h1, h2 {
      text-align: center;
    }
  }

  .learn-more {
    padding: 2rem;
  }

  .learn-more .free-course {
    margin-top: 2rem;
  }
}

@media (max-width: 900px) {
  .learn-more {
    h2, p {
      text-align: center;
    }

    .free-course p {
      max-width: inherit;
    }

    .description {
      flex-direction: column;
    }

    .video {
      width: 100%;

      iframe {
        display: block;
        margin: auto
      }
    }
  }

  .agenda {
    flex-direction: column-reverse;
  }
}
