<div class="container hero">
  <img class="material" src="/assets/angular-cdk-crash-course/material.svg">
  <p>Learn how to build more robust Angular applications faster</p>
  <h1>Angular CDK Course</h1>

  <div class="hero-btns">
    <button class="learn-more-btn">Learn More</button>
    <button class="watch-video-btn">Watch Video</button>
  </div>
</div>

<div class="container learn-more">
  <div class="row description">
    <div class="column">
      <h2>Learn how to build more robust Angular applications faster</h2>
      <p>While building Angular applications quite often we ought to reinvent the wheel since our applications have tons
        of similarities. Angular CDK provides us the way to stop doing that. Angular CDK provides us with tons of useful
        functionalities that allows us to build more robust Angular application faster.</p>
    </div>
    <div class="column video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/fxYOXfHNagE" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row free-course">
    <p>
      This course is intended to help you learning Angular CDK basics faster!
      It is <strong>FREE</strong> and will stay <strong>FREE</strong> forever!
    </p>
  </div>
</div>

<div class="container agenda">
  <div class="column content">

    <ul>
      <li>
        Drag and Drop
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ul>
      </li>
      <li>
        Floating Components
      </li>
      <li>
        Tables
      </li>
    </ul>

  </div>
  <div class="column">
    <h2>What this course is about?</h2>
    <p>Our course consists of 3 general topics to learn and practice.</p>
  </div>
</div>

<div class="container subscribe">
  <div>
    <h2>Subscribe to be notified of new videos!</h2>
    <a href="mailto:nik.poltoratsky@gmail.com" class="contact-me-btn">Subscribe</a>
  </div>
</div>

<div class="container trainer">
  <h2>Course Trainer</h2>
  <img src="/assets/ava.png">
  <h3>Nikita Poltoratsky</h3>
  <span>Google Developer Expert</span>
  <p>I’m a Solution Architect at Akveo where I guide internal products and outsourcing clients on how to build their
    systems. I'm an open-source contributor and tech author from Belarus. I passionate about sharing knowledge and
    digging into the depths of technologies. I'm driving Angular Belarus Community.</p>

  <p>Also, I'm speaking at conferences, so, if you want to see me at your conference or meetup, just let me know
    nik.poltoratsky@gmail.com. I'm always ready to deliver the most valuable content for your audience!</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/aqxsbEbh1vs" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <h2 class="contact-me">Have ideas on how to make the course better? Contact me!</h2>
  <a href="mailto:nik.poltoratsky@gmail.com" class="contact-me-btn">nik.poltoratsky@gmail.com</a>
</div>
