<input [formControl]="hamburger" name="hamburger" type='checkbox' id='toggle' style='display:none;'/>
<label *ngIf="showMenu$ | async"
       class='toggle-btn toggle-btn__cross'
       for='toggle'>
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
</label>
<nav (click)="hamburger.setValue(false)">
  <ul>
    <li>
      <a routerLink="/" routerLinkActive="">Home</a>
    </li>
    <li>
      <a routerLink="/about">About</a>
    </li>
    <li>
      <a routerLink="/blog">Blog</a>
    </li>
  </ul>
</nav>
