<nav class="desktop">
  <a class="home" routerLink="/">Home</a>

  <section>
    <a routerLink="/contributions">Contributions</a>
    <a routerLink="/about">About</a>
    <a routerLink="/blog">Blog</a>
  </section>
</nav>

<section class="mobile">

  <input [formControl]="hamburger" name="hamburger" type='checkbox' id='toggle' style='display:none;'/>
  <label class='toggle-btn toggle-btn__cross' for='toggle'>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </label>
  <nav (click)="hamburger.setValue(false)">
    <ul>
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li>
        <a routerLink="/contributions">Contributions</a>
      </li>
      <li>
        <a routerLink="/about">About</a>
      </li>
      <li>
        <a routerLink="/blog">Blog</a>
      </li>
    </ul>
  </nav>
</section>
