<div class="socials-container">

  <span class="socials-caption">Here're my social links, check them 👇</span>

  <ul class="social-links">

    <li class="caption">
      <a href="https://twitter.com/nikpoltoratsky" target="_blank">
        <fa-icon size="1x" [icon]="twitter"></fa-icon>
        <span>TWITTER</span>
      </a>
    </li>

    <li class="caption">
      <a href="https://medium.com/@nik.poltoratsky">
        <fa-icon size="1x" [icon]="medium"></fa-icon>
        <span>MEDIUM</span>
      </a>
    </li>

    <li class="caption">
      <a href="https://github.com/tibing">
        <fa-icon size="1x" [icon]="github"></fa-icon>
        <span>GITHUB</span>
      </a>
    </li>

    <li class="caption">
      <a href="https://dev.to/nikpoltoratsky">
        <fa-icon size="1x" [icon]="dev"></fa-icon>
        <span>DEV.TO</span>
      </a>
    </li>

  </ul>
</div>
