@import '../../shadow-3d';

:host {

  .socials-container {
    margin-bottom: 6rem;
    padding-top: 2rem;
  }

  .caption {
    width: 120px;
  }

  .socials-caption {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    display: block;
  }

  .social-links {
    @include shadow-3d(var(--pink), var(--turquise));
    background-color: var(--pink);
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;

    .caption {
      margin: 0.5rem;
      font-weight: bold;

      &:hover {
        color: var(--white);
      }
    }
  }

  fa-icon {
    margin-right: 0.5rem;
  }

  fa-icon::ng-deep svg {
    height: 1.25rem;
    width: 1.25rem;
  }
}

@media (min-width: 1300px) {
  :host .socials-caption {
    width: 462px;
  }
}

@media (max-width: 1300px) {
  :host .socials-caption {
    font-size: 2.5rem;
  }
}

@media (max-width: 960px) {
  :host .socials-caption {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  :host .socials-container {
    padding-top: 0;
  }

  .socials-caption {
    margin: 1rem;
  }
}

@media (max-width: 600px) {
  :host .socials-container {
    margin-bottom: 1rem;
  }
}
