@import '../../shadow-3d';

:host {

  display: block;
  padding-top: 4rem;

  ::ng-deep {

    h1 {
      @include crazy-shadow(3px);
    }

    img {
      width: 100%;
    }

    a {
      color: #36f;

      &:hover {
        color: #598bff;
      }
    }

    ul {
      list-style: disc inside;
      padding-left: 1rem;
    }

    hr {
      width: 2.5rem;
      border: none;
      margin: 2.5rem auto;
    }

    hr:before {
      content: '...';
      display: inline-block;
      position: relative;
      font-size: 30px;
      letter-spacing: 0.6rem;
    }

    code {
      font-size: 1rem;

      span {
        font-size: 1rem;
      }
    }
  }
}
