::ng-deep html {
  background-color: var(--yellow);
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem 4rem;
}

.container {
  width: calc(100vw - 2rem);
  max-width: 700px;
}

a {
  color: #36f;

  &:hover {
    color: #598bff;
  }
}

img {
  max-width: 700px;
  object-fit: scale-down;
  border-radius: 2px;
}

iframe {
  width: calc(100vw - 2rem);
  max-width: calc(700px);
  max-height: calc(393px);
  height: calc(56.25vw - 2rem);
}

@media (max-width: 700px) {
  img {
    width: 100vw;
  }
}
