<img src="/assets/speaker.png">

<section class="container">

  <p>
    Hi there!
  </p>

  <p>
    I'm Nikita Poltoratsky, Google Developer Expert!
  </p>

  <p>
    Right now, working as a Solution Architect at Akveo where I guide internal products and outsourcing clients on how
    to build their systems. I'm an open-source contributor and tech author from Belarus. I passionate about sharing
    knowledge and digging into the depths of technologies. I'm driving Angular Belarus Community.
  </p>

  <np-socials></np-socials>

  <p>Also, I'm speaking at conferences, so, if you want to see me at your conference or meetup, just let me know
    <a href="mailto:nik.poltoratsky@gmail.com">nik.poltoratsky@gmail.com</a>. I'm always ready to deliver the most
    valuable content for your audience!</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/aqxsbEbh1vs" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <p>
    Nowadays I'm working a lot on opensource projects and here are my favorite:
  </p>

  <ul>

    <li>
      <a href="https://github.com/akveo/nebular">Nebular</a> - full-featured UI Kit for Angular applications
    </li>

    <li>
      <a href="https://github.com/akveo/ngx-admin">ngx-admin</a> - Admin template based on Angular 8+ and Nebular
    </li>

    <li>
      <a href="https://uibakery.io">UI Bakery</a> - Low code platform
    </li>

  </ul>

</section>
