$clip-height: 94px;
$clip-width: 560px;
$clip-shadow-width: 594px;
$clip-offset: 16px;

:host {
  position: relative;
  display: block;
  height: $clip-height;
  width: $clip-width;
}

.clip, .clip-shadow {
  position: absolute;
}

.clip {
  width: $clip-width;
  height: $clip-height;
  background-color: var(--yellow);
  color: var(--blue);
  clip-path: polygon(100% 1%, 95% 50%, 100% 100%, 0 100%, 5% 50%, 0 0);

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(--blue);
    color: var(--yellow);
  }
}

.clip-shadow {
  width: $clip-shadow-width;
  height: $clip-height;
  background-color: var(--black);
  clip-path: polygon(100% 1%, 95% 50%, 100% 100%, 0 100%, 5% 50%, 0 0);

  top: $clip-offset;
  left: -2rem
}

.text {
  width: 450px;
  text-align: center;
}

@media (max-width: 768px) {

  :host {
    width: 100%;
    height: 130px;
  }

  .clip, .clip-shadow {
    width: 100%;
    height: 130px;
    clip-path: none;
  }

  .clip-shadow {
    left: 0;
    top: 1rem;
  }

  .clip {
    box-sizing: border-box;
    padding: 1rem;
    width: 100vw;

    span {
      width: auto;
    }
  }
}
