@import '../shadow-3d';

:host {
  display: block;
  padding: 0 2rem 4rem;

  article {
    margin-bottom: 4rem;
  }

  h2 {
    @include crazy-shadow(3px);
    transform: rotateZ(-7deg);
  }

  .date {
    margin-right: 1rem;
  }
}
