@import '../../shadow-3d';

:host {

  h4 {
    margin: 0;
  }

  .blog-container {
    @include shadow-3d(var(--purple), var(--light-blue));
    background-color: var(--purple);
    padding: 2rem 3rem;
    display: block;
    transform: rotateZ(4deg);
    color: var(--white);

    &:hover {
      @include shadow-3d(var(--light-blue), var(--purple));
      background-color: var(--light-blue);
      color: var(--black);
    }
  }
}
