:host {
  --home-cloud-color: red;
  position: relative;
}

.right-pattern-container {
  background: url("/assets/home/pattern-2.svg") no-repeat center center;
  background-size: cover;

  height: 600px;
  width: 600px;
  display: block;
}

.right-pattern {
  background-size: cover;
  width: 636px;
  height: 512px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4rem;
}

.right-pattern-container:hover {
  .cloud {
    fill: var(--blue);
  }

  .content {
    color: white;
  }
}

.content {
  top: 8rem;
  left: 14rem;
  line-height: 60px;
  width: 400px;
  position: absolute;
}

@media (max-width: 1280px) {

  .right-pattern-container {
    height: 500px;
    width: 515px;
    padding-top: 4rem;
  }

  .right-pattern {
    width: 550px;
    height: 426px;
    margin-left: 0;
  }

  .content {
    top: 10.5rem;
    left: 7rem;
    line-height: 50px;
  }
}

@media (max-width: 1024px) {

  .right-pattern-container {
    height: 350px;
    width: 350px;
    padding-top: 4rem;
  }

  .right-pattern {
    width: 400px;
    height: 313px;
    margin-left: 0;
  }

  .content {
    width: 250px;
    line-height: 30px;
    font-size: 32px;
    top: 9.5rem;
    left: 6rem;
  }
}

@media (max-width: 768px) {

  :host {
    overflow: hidden;
    height: 300px;
  }

  .right-pattern-container, .right-pattern {
    width: 100vw;
    height: 100vw;
  }

  .right-pattern-container {
    padding-top: 1rem;
    margin-left: -110vw;
    height: 250vw;
    width: 250vw;
  }

  .right-pattern {
    align-items: flex-start;
    height: 200vw;
    width: 250vw;
  }

  .content {
    left: 30vw;
  }
}

@media (max-width: 400px) {

  .content {
    top: 11rem;
    left: 3rem;
  }
}
