@mixin shadow-3d($from, $to) {

  position: relative;

  &::before {
    position: absolute;
    top: 1rem;
    left: -2rem;
    width: 2rem;
    height: 100%;
    content: "";
    transform: skewY(-45deg);
    background-image: linear-gradient(to left, $from, $to);
  }

  &::after {
    position: absolute;
    top: 100%;
    left: -1rem;
    width: 100%;
    height: 2rem;
    content: "";
    transform: skew(-45deg);
    background-image: linear-gradient($from, $to);
  }
}

@mixin shadow-3d-with-hover($from, $to, $color: none, $background: none, $hoverColor: none, $hoverBackground: none) {

  color: $color;
  background: $background;
  font-weight: bold;

  &:hover {
    color: $hoverColor;
    background: $hoverBackground;
  }

  @include shadow-3d($from, $to)
}
