:host {
  background-color: var(--gray);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 124px 1rem 4rem;
  box-sizing: border-box;
  min-height: 100vh;

  p {
    font-size: 1rem;
    margin: 0;
  }

  h2 {
    margin-top: 1rem;
    font-weight: normal;
  }

  h1 {
    margin: 1rem 0;
  }

  .post-cover {
    max-height: 200px;
    object-fit: cover;
  }
}

.container {
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.new h2 {
  font-size: 40px;
  font-weight: bolder;
}

.post h2 {
  font-size: 28px;
  font-weight: bolder;
}

.post article {
  flex-direction: column;
}

.timing {
  font-weight: bolder;
}

.post .timing {
  margin-top: 2rem;
}

.post:nth-child(3n) a:hover article {
  background-color: var(--blue);
  color: white;

  .timing {
    color: var(--pink);
  }
}

.post:nth-child(3n + 1) a:hover article {
  background-color: var(--pink);
  color: var(--black);

  .timing {
    color: var(--blue);
  }
}

.post:nth-child(3n + 2) a:hover article {
  background-color: var(--black);
  color: white;

  .timing {
    color: var(--pink);
  }
}

a:hover article {
  background-color: var(--black);
  color: white;

  .timing {
    color: var(--yellow);
  }
}

article {
  display: flex;
  align-items: flex-start;
  background-color: var(--yellow);
  padding: 1rem;

  .timing {
    color: var(--blue);
  }
}

.new,
.post {
  margin: 0.5rem;
}

.new {
  width: calc(100% - 1rem);

  .post-cover {
    max-height: 300px;
    margin-right: 1rem;
  }
}

.post article {
  // height: 460px;
  background-color: white;
}

.post {
  width: calc(50% - 1rem);

  .post-cover {
    width: 100%;
  }
}

@media (max-width: 768px) {
  :host {
    padding: 107px 0 4rem;

    .post-cover {
      width: 100%;
      max-height: 300px;
    }
  }

  .new,
  .post {
    margin: 0.5rem 0;
    width: 100%;
  }

  .new article {
    flex-direction: column;
  }
}
