@import "code-highlight";

:host {
  display: block;
  background: var(--gray);
  padding-top: 66px;

  .addon {
    display: flex;
    justify-content: center;
  }

  h1 {
    margin-bottom: 1rem;
    font-size: 40px;
  }

  .stats {
    margin-bottom: 29px;
    font-weight: bold;
    color: var(--blue);
  }

  .container ::ng-deep {
    a,
    p,
    li {
      font-size: 19px;
      font-family: "Rubik", sans-serif;
      font-weight: 300;
      line-height: 30px;
    }

    span.token,
    code {
      font-family: "Fira Mono", monospace;
      font-size: 16px;
    }

    p {
      margin: 2rem 0;
    }

    @include code-highlight;

    video {
      width: calc(100% + 2rem);
      margin-left: -1rem;
      margin-right: -1rem;
      border-radius: 0.5rem;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: normal;
    }

    h2 {
      font-size: 28px;
    }

    h3 {
      font-size: 24px;
    }

    h4 {
      font-size: 20px;
    }

    blockquote {
      border-left: 4px solid var(--blue);
      padding-left: 1rem;
      margin-left: 0;
      font-style: italic;
    }

    iframe {
      border: none;
      width: calc(100% + 2rem);
      height: 80vh;
      margin-left: -1rem;
      margin-bottom: 1.75rem;
      border-radius: 0.5rem;
    }
  }
}

header {
  width: 100vw;
  background-color: var(--yellow);
}

.header-container {
  max-width: 720px;
  margin: auto;
  padding: 40px 1rem;
  box-sizing: initial;

  h1 {
    margin: 0;
  }
}

.master-container {
  max-width: 960px;
  margin: auto;
  background-color: white;
}

.container {
  max-width: 720px;
  padding: 2rem 1rem 4rem;

  img {
    max-width: 700px;
    width: 100%;
  }

  a {
    color: var(--blue);

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    padding-left: 1rem;
    list-style: initial;
  }

  ul li::before {
    content: "\2022";
    color: var(--blue);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    position: absolute;
  }

  hr {
    margin: 2rem auto;
    width: 100%;
    opacity: 0.16;
    border: 1px solid #000000;
  }
}

.check-other-posts {
  display: block;
  margin-top: 4rem;
}

np-wide-link {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.comments {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  :host h1 {
    font-size: 32px;
  }

  .comments {
    margin-left: -1rem;

    ::ng-deep .clip-shadow {
      display: none;
    }
  }

  .container {
    padding-top: 0.1px;

    hr {
      width: calc(100vw + 2rem);
      margin-left: -1rem;
    }
  }

  :host .container ::ng-deep {
    video {
      border-radius: 0;
    }

    a,
    p,
    li {
      font-size: 1rem;
      line-height: 26px;
    }

    h2 {
      font-size: 23px;
    }

    h3 {
      font-size: 20px;
    }

    iframe {
      border-radius: 0;
    }
  }
}

@media (max-width: 400px) {
  :host {
    padding-top: 66px;
  }
}

@media (max-width: 380px) {
  .check-other-posts {
    text-align: center;
  }
}
