<header>
  <div class="header-container">
    <div class="stats">
      {{ date$ | async | date }} - {{ readTime$ | async }}
    </div>

    <h1>{{ title$ | async}}</h1>
  </div>
</header>

<div class="master-container">
  <div class="addon" *ngIf="addon$ | async as addon">
    <ng-container *ngComponentOutlet="addon"></ng-container>
  </div>

  <article class="container line-numbers">

    <scully-content></scully-content>

    <hr>

    <div class="comments" *ngIf="comments$ | async as comments">
      <np-wide-link
      [external]="true"
      text="Leave a comment here 🚀"
      [link]="comments"
      ></np-wide-link>
    </div>

    <np-me-footer></np-me-footer>
    <a routerLink="blog" class="check-other-posts"><== Check Other Posts</a>

  </article>
</div>
