@import 'code-highlight';

:host {
  display: block;
  background: var(--gray);
  padding-top: 114px;

  h1 {
    margin-bottom: 1rem;
  }

  .stats {
    margin-bottom: 29px;
    font-weight: bold;
    color: var(--blue);
  }

  .container ::ng-deep {
    a, p, li {
      font-size: 1.25rem;
      font-family: 'Rubik', sans-serif;
      font-weight: 300;
      line-height: 30px;
    }

    span.token {
      font-family: 'Fira Mono', monospace;
      font-size: 1rem;
    }

    p {
      margin: 2rem 0;
    }

    @include code-highlight;

    video {
      width: calc(100% + 2rem);
      margin-left: -1rem;
      margin-right: -1rem;
      border-radius: 0.5rem;
    }

    h2, h3, h4, h5, h6 {
      font-weight: normal;
    }
  }
}

header {
  width: 100vw;
  background-color: var(--yellow);
}

.header-container {
  max-width: calc(960px + 2rem);
  margin: auto;
  padding: 40px 1rem;

  h1 {
    margin: 0;
  }
}

.master-container {
  max-width: 960px;
  margin: auto;
  background-color: white;
}

.container {
  max-width: 720px;
  padding: 2rem 1rem 4rem;

  img {
    max-width: 700px;
    width: 100%;
  }

  a {
    color: var(--blue);

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    padding-left: 1rem;
    list-style: initial;
  }

  ul li::before {
    content: "\2022";
    color: var(--blue);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  hr {
    margin: 2rem auto;
    width: 100%;
    opacity: 0.16;
    border: 1px solid #000000;
  }
}

.check-other-posts {
  display: block;
  margin-top: 4rem;
}

@media (max-width: 768px) {
  .container {
    padding-top: 0.1px;
  }

  h1 {
    font-size: 2rem;
    line-height: 1.25;
  }

  h2 {
    font-size: 1.5rem;
  }

  :host .container ::ng-deep video {
    border-radius: 0;
  }
}


@media (max-width: 500px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.15rem;
  }
}

@media (max-width: 400px) {
  :host {
    padding-top: 147px;
  }
}
