:host {
  display: block;
}

a {
  color: var(--blue);

  &:hover {
    text-decoration: underline;
  }
}

img {
  width: 64px;
  height: 64px;
  border-radius: 500px;
  margin-right: 1rem;
}

.me {
  display: flex;
  align-items: center;
}

.about {
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
  }
}

::ng-deep form {
  margin: 4rem auto;

  p, input, span {
    font-weight: 300 !important;
    font-size: 1rem !important;
  }

  p, input, span, h1 {
    line-height: 1.5 !important;
  }

  p {
    color: var(--black) !important;
  }

  .formkit-header, .formkit-subheader {
    z-index: auto !important;
  }
}

@media (max-width: 768px) {
  :host {
    padding: 0;
  }
}

@media (max-width: 380px) {
  :host {
    text-align: center;
  }

  .me {
    flex-direction: column;

    img {
      margin-bottom: 1rem;
    }
  }
}
