.social-links {
  display: flex;
}

.link:not(:last-of-type) {
  margin-right: 1.5rem;
}

.link, svg {
  width: 72px;
  height: 72px;
}

.background {
  fill: var(--black);
}

.inside {
  fill: var(--yellow);
}

.link:hover {
  .background {
    fill: var(--blue);
  }

  .inside {
    fill: white;
  }
}

@media (max-width: 768px) {
  .link:not(:last-of-type) {
    margin-right: 1rem;
  }
}
