.social-links {
  display: flex;
}

.link:not(:last-of-type) {
  margin-right: 1.5rem;
}

.link, img {
  width: 72px;
  height: 72px;
}

@media (max-width: 768px) {
  .link, img {
    width: 60px;
    height: 60px;
  }

  .link:not(:last-of-type) {
    margin-right: 1rem;
  }
}
