<ul class="social-links">

  <li class="link">
    <a href="https://twitter.com/nikpoltoratsky" target="_blank">
      <img src="/assets/home/twitter.svg">
    </a>
  </li>

  <li class="link">
    <a href="https://medium.com/@nik.poltoratsky">
      <img src="/assets/home/medium.svg">
    </a>
  </li>

  <li class="link">
    <a href="https://github.com/tibing">
      <img src="/assets/home/github.svg">
    </a>
  </li>

  <li class="link">
    <a href="https://dev.to/nikpoltoratsky">
      <img src="/assets/home/devto.svg">
    </a>
  </li>

</ul>
