@import '~prismjs/plugins/toolbar/prism-toolbar.css';
@import '~prismjs/themes/prism-tomorrow';
@import 'scrollbars';

:root {
  --yellow: #FFDF27;
  --pink: #FF5971;
  --black: #313033;
  --blue: #4620FC;
}

html, body {
  margin: 0;
  overflow-x: hidden;
  cursor: url("/assets/cursor.png"), pointer;

  @extend .font-fira-mono;
}

html {
  background-color: var(--yellow);
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 3rem;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.5rem;
}

h4 {
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 2rem;
}

small {
  font-size: 0.875rem;
}

p {
  margin-bottom: 2.5rem;
}

a, span, p, li {
  font-size: 22px;
  line-height: 1.5;
}

a:link, a:visited, a:hover, a:active {
  color: var(--font-color);
  text-decoration: none;
}

a {
  cursor: url("/assets/cursor-hover.png"), pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  margin: auto;
  display: block;
  max-width: 1440px;
}

.font-faster-one {
  font-family: 'Faster One', cursive;
  font-size: 48px;
}

.font-fira-mono {
  font-family: 'Fira Mono', monospace;
}

div {
  box-sizing: border-box;
}
