@import '~prismjs/plugins/toolbar/prism-toolbar.css';
@import '~prismjs/themes/prism-tomorrow';

.light {
  --font-color: balck;
}

body {
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  margin: 0;
  padding: 2rem 6rem;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'BioRhyme', serif;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 3rem;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.5rem;
}

h4 {
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 2rem;
}

small {
  font-size: 0.875rem;
}

p {
  margin-bottom: 2.5rem;
}

a, span, p, li {
  font-size: 1.25rem;
  line-height: 1.5;
}

a:link, a:visited, a:hover, a:active {
  color: var(--font-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  display: block;
  max-width: 40rem;
  margin: auto;
}

@media (max-width: 700px) {
  body {
    padding: 2rem;
  }
}

@media (max-width: 500px) {
  body {
    padding: 1rem;
  }
}
