@import '~prismjs/plugins/toolbar/prism-toolbar.css';
@import '~prismjs/themes/prism-tomorrow';
@import 'scrollbars';

:root {
  --blue: #4285f4;
  --green: #34a853;
  --yellow: #fbbc05;
  --red: #ea4335;
  --pink: #d65bad;
  --turquise: #2dc4c0;
  --black: black;
  --white: white;
  --light-yellow: #feefc3;
  --purple: #9c26b0;
  --deep-purple: #673AB7;
  --light-blue: #01A9F3;
  --teal: #009587;

  --font-color: balck;
  --crazy-text-shadow: 6px 6px var(--blue),
  12px 12px var(--green),
  18px 18px var(--yellow),
  24px 24px var(--red);
}

html {
  overflow: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--light-yellow);
  cursor: url("/assets/cursor.png"), auto;
  overflow: auto;
  height: 100vh;

  @include scrollbars(var(--pink), var(--light-blue), 1rem);
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 3rem;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.5rem;
}

h4 {
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 2rem;
}

small {
  font-size: 0.875rem;
}

p {
  margin-bottom: 2.5rem;
}

a, span, p, li {
  font-size: 1.25rem;
  line-height: 1.5;
}

a:link, a:visited, a:hover, a:active {
  color: var(--font-color);
  text-decoration: none;
}

a {
  cursor: url("/assets/cursor-blue.png"), pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  display: block;
  max-width: 40rem;
  margin: auto;
}
