.home-container {
  display: block;
}

.left-pattern-container {
  background: linear-gradient(244.18deg, #FF5971 55.69%, #421FFF 100%);
  width: 45vw;
  position: relative;
  height: 100vh;
}

.left-pattern {
  background: url("/assets/home/pattern-1.svg");
  height: 100%;
}

.right-pattern-container {
  background-color: var(--yellow);
  position: absolute;
  width: 55vw;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 1;
}

.right-pattern-angle {
  position: relative;
  left: -50vh;
  border-left: 50vh solid transparent;
  border-right: 50vh solid transparent;
  border-bottom: 100vh solid var(--yellow);
}

.about {
  z-index: 1;
  position: absolute;
  top: 0;
  padding-top: 64px;
  display: flex;
}

.column {
  margin-left: 10rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

app-acquainted {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

@media (max-width: 1280px) {

  .left-pattern-container {
    width: 40vw;
  }

  .right-pattern-container {
    width: 60vw;
  }

  .column {
    margin-left: 5rem;
  }

  app-blog {
    margin-left: -4rem;
  }
}
