$height: 900px;
$min-height: 100vh;

.home-container {
  display: block;
}

.left-pattern-container {
  background: linear-gradient(244.18deg, #FF5971 55.69%, #421FFF 100%);
  width: 45vw;
  position: absolute;
  height: $height;
  min-height: $min-height;
}

.left-pattern {
  background: url("/assets/home/pattern-1.svg");
  height: $height;
  min-height: $min-height;
}

.right-pattern-container {
  background-color: var(--yellow);
  position: absolute;
  width: 55vw;
  height: $height;
  min-height: $min-height;
  top: 0;
  right: 0;
  z-index: 1;
}

.right-pattern-angle {
  position: relative;
  left: -50vh;
  border-left: 50vh solid transparent;
  border-right: 50vh solid transparent;
  border-bottom: max(#{$height}, 100vh) solid var(--yellow);
}

.pattern {
  height: auto;
}

.about {
  z-index: 1;
  position: relative;
  top: 0;
  display: flex;
  padding: 64px 0;
  justify-content: center;
}

.column {
  margin-left: 10rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

app-acquainted {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

@media (max-width: 1280px) {

  .left-pattern-container {
    width: 40vw;
  }

  .right-pattern-container {
    width: 60vw;
  }

  .column {
    margin-left: 5rem;
  }

  app-blog {
    margin-left: -4rem;
  }
}
