<div class="home-container">
  <div class="pattern">
    <div class="left-pattern-container">
      <div class="left-pattern"></div>
    </div>

    <div class="right-pattern-container">
      <div class="right-pattern-angle"></div>
    </div>
  </div>

  <div class="about">
    <div class="container">
      <div class="column">
        <np-me></np-me>
        <np-wide-link link="about" text="Nikita Poltoratsky, GDE.&#13;&#10;Let’s get acquainted! ==>"></np-wide-link>
        <np-socials></np-socials>
      </div>
      <np-blog></np-blog>
    </div>
    <div class="medium-container">
      <np-wide-link link="about" text="Nikita Poltoratsky, GDE.&#13;&#10;Let’s get acquainted! ==>"></np-wide-link>
      <np-socials></np-socials>
    </div>
    <div class="small-container">
      <np-blog></np-blog>
    </div>
  </div>
</div>
