:host {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;

  a:hover .date {
    text-decoration: underline;
  }

  .date {
    display: inline-block;
    width: 120px;
    text-align: right;
    padding-right: 1rem;
  }

  @media (max-width: 800px) {
    padding-top: 1rem;

    li {
      margin-bottom: 1rem;
    }

    .date {
      display: block;
      width: auto;
      text-align: left;
    }
  }
}
